////////////////////////////////////////////////////////////////////////////////////////////////////
//                        by Yago Estévez. https://twitter.com/yagoestevez                        //
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Merriweather');

$primary-color        : #b16f6f;
$secondary-color      : #fafafa;
$key-color            : #6f95b1;
 
:root, * {
  box-sizing          : border-box;
  padding             : 0;
  margin              : 0;
}

body {
  background          : $secondary-color;
  color               : rgba( $primary-color, .7 );
  font-family         : 'Merriweather', serif;
  display             : flex;
  flex-direction      : column; 
  justify-content     : center;
  align-items         : center; 
}

h2 {
  color               : $primary-color;
  font-size           : 2rem;
  margin-top          : 3rem;
  text-align          : center;
}

h3 {
  color               : $key-color;
}

#preloader {
  transition          : opacity 300ms;
  animation           : blink 1s infinite;
  @keyframes blink {
    0%   { opacity    :  1; }
    50%  { opacity    : .1; }
    100% { opacity    :  1; }
  }
  &.hidden {
    opacity           : 0;
    animation         : none;
  }
}

#chart-container {
  padding             : 0 1.5rem;
  margin              : 2rem 0;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  box-shadow          : 0px 0px 15px #6f95b155;

  span {
    margin            : 1rem 0;
  }
}

#chart {
  width               : 900px;

  .domain, .tick line {
    stroke            : $key-color;
  }

  .tick text {
    fill              : $primary-color;
    text-anchor       : end;
  }

  .x-tick {
    transform         : rotate( -45deg ) translate( -10px ); 
  }

  .dashed-line {
    stroke            : rgba( $key-color, .3 ) !important;
  }

  .dot {
    stroke            : $secondary-color;
    stroke-width      : 1px;
    animation: size 1s infinite;
    @keyframes size {
        0% { opacity:  1; }
       50% { opacity: .8; }
      100% { opacity:  1; }
    }
  }

  .label {
    fill              : $key-color;
    text-anchor       : end;
    font-size         : 12px; 
  }

  #legend {
    text-anchor       : end;
    font-size         : .8rem;
  }

  #tooltip {	
    opacity             : 0;
    text-anchor         : end; 
    font-size           : .8rem;
    #tooltip-text {
      fill              : #357db1;
    }
    #tooltip-sub {
      fill              : #357db1;
    }
    #tooltip-icon {
      fill              : $key-color;
    }
  }

}

footer {
  text-align          : center;
  width               : 50%;
  p {
    margin            : 1rem 0;
  }
  hr {
    border            : 0;
    height            : 0;
    border-bottom     : 1px solid rgba( $key-color, .3 );
  }
}



a, a:visited {
  color               : $key-color;
  text-decoration     : none;
  transition          : color 300ms;

  &:hover, &:active {
    color             : $primary-color;
  }
}

@media only screen and (max-width: 950px) {
  #chart {
    width             : 700px;
  }
}

@media only screen and (max-width: 700px) {
  #chart {
    width             : 600px;
  }
}

@media only screen and (max-width: 550px) {
  h2 {
    font-size         : 1.5rem;
  }
  #chart {
    width             : 400px;
  }
  footer {
    font-size         : .8rem;
    margin            : 0 1rem;
  }

}
@media only screen and (max-width: 350px) {
  #chart {
    width             : 300px;
  }
}
